/* 
|===========================================|
|   * Created by: Adarsh Thapa              |
|   * Project alias: SpaceSoft              |
|   * Date Created: 20/08/2019              |
|   * Coded on: Ubuntu Linux                |
|   * Web: https://www.adarshthapa.com/     |
|===========================================|
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --primary-color: rgba(56, 126, 240, 0.1);
    --secondary-color: rgba(127, 127, 213, 0.90);
    --btn-color: rgba(47, 48, 49, 0.5);
    --overlay-color: rgba(44, 62, 80, 0.80);
    --menu-speed: 0.75s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 0 3rem;
}

#showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
}

#showcase::before {
    content: '';
    background: url('../img/space.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#showcase .showcase-container .brand {
    font-size: 3rem;
    align-items: flex-start;
    margin-bottom: 3rem;
}

#showcase h1 {
    font-size: 4rem;
}

#showcase strong {
    font-size: 0.8rem;
    padding: 0.7rem;
    color: rgb(247, 240, 240);
    letter-spacing: 0.5rem;
}

#showcase p {
    font-size: 1.3rem;
}

.btn {
    display: inline-block;
    border: none;
    background: var(--btn-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
}

.btn:hover {
    opacity: 0.6;
}