/* 
|===========================================|
|   * Created by: Adarsh Thapa              |
|   * Project alias: SpaceSoft              |
|   * Date Created: 20/08/2019              |
|   * Coded on: Ubuntu Linux                |
|   * Web: https://www.adarshthapa.com/     |
|===========================================|
*/